{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>krigs</title>
    <link href='https://fonts.googleapis.com/css?family=Inter:400,500,600,700' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'project/styles.css' %}">
</head>
<body>
    <div class="max-576">
        <div class="header">
            <div class="heading">
                <a href="https://www.krigs.co.uk">
                    <img src="{% static 'project/images/logo.svg' %}" class="logo">
                </a>
            </div>
            <div class="bio">
                <p class="btext">I’m a designer & developer based in Liverpool. A knowledge sponge, django wiz and master of figma.</p>
                <div class="buttons">
                    <a href="mailto:k@krigs.co.uk" class="hello"><img src="{% static 'project/images/hand.svg' %}" class="h">Say hello!</a>
                    <a href='https://www.x.com' class="follow"><img src="{% static 'project/images/x.svg' %}" class="f">Follow</a>
                </div>
            </div>
        </div>
        <div class="posts">
            {% for post in posts %}
                <div class="post">
                    <div class="post-heading">
                        <div class="post-user">
                            <img src="{% static 'project/images/IMG_0058.JPG' %}" class="user-avatar" alt="krigs"> 
                            <p class="user-username">Krigs</p>
                        </div>
                        <span class="post-time">{{ post.pub_date|custom_pub_date }}</span>
                    </div>
                    <p class="post-text">{{ post.text }}</p>
                    <img src="{{ post.image.url }}" class="post-image" alt="{{ post.text }}">
                    <div class="post-bar">
                    <div class="alltags">
                        {% for tag in post.tags.all %}
                                <span class="post-tag">{{ tag.text }}</span>
                        {% endfor %}
                    </div>
                        <a href="{{ post.link }}">
                            <img src="{% static 'project/images/gotoicon.svg' %}" class="openlink">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>